<h1>Albums#new</h1>
<p>Find me in app/views/albums/new.html.erb</p>

<input id="photos_ids" name="photos" type="hidden" value="">
<input data-url="/photos" id="album_upload" multiple="multiple" name="images[]" type="file" ></input>

<%= render partial: "form" %>