

#intro.intro {
 	height: 600px;
 	padding: 0 0 !important;
 }

.slogan {
	display: flex;
	float: none;
	align-items: center;
	flex-direction: column;
	height: 100%;
	justify-content: center;
}

/* Sign In with Facebook */

.signup {
 	background-color: #00ccff;
 	padding: 10px 30px;
 	border: none;
 	color: white;
 	padding-left: 24px;
 	padding-right: 21px;
 	border-radius: 100px;
 }

.fa-2x {
	position: relative;
	bottom: -7%;
	left: 2%;
}

.signup span {
	position: relative;
	bottom: 3px;  /*11%;*/
	padding-left: 21px;
	font-size: 23px;
}

.btn-default:hover {
	border: none;
	outline: none;
}

/* Chrome, Safari, AND NOW ALSO the Edge Browser and Firefox */
/*@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
  .signup span {
  position: relative;
  bottom: 10%;
  } 
}*/

/* Main Css */ 


/* Media Queries */

@media (min-width: 1550px) {
 	.intro {
 		height: 900px;
 	}
}

@media (max-width: 412px) {
	#intro.intro {
		height: 732px;
	}

	.signup {
	 	background-color: #00ccff;
	 	padding: 10px 30px;
	 	border: none;
	 	color: white;
	 	padding-left: 15px;
	 	padding-right: 0px;
	 }

}

@media (max-width: 360px) {
	#intro.intro {
		height: 640px;
	}

 	.intro .slogan h2 {
 		font-size: 34px;
 		margin-bottom: 5px;
 	}
 	.intro .slogan h4 {
 		font-size: 13px;
 		margin-top: 0px;
 	} 	

 	#buttonSignUp {
 		margin-bottom: 17px;
 	}

	.signup {
	 	background-color: #00ccff;
	 	padding: 10px 30px;
	 	border: none;
	 	color: white;
	 	padding-left: 15px;
	 	padding-right: 8px;
	 }

	 .signup .fa-2x {
	 	font-size: 1.2em;
		position: relative;
		bottom: -7%;
		left: 2%;	 	
	 }

	.signup span {
		position: relative;
		bottom: 1px; /*9%;*/
		padding-left: 13px;
		font-size: 16px;
	}

}

@media (max-width: 320px) {
	#intro.intro {
		height: 568px;
	}

 	.intro .slogan h2 {
 		font-size: 27px;
 	}
 	.intro .slogan h4 {
 		font-size: 11px;
 	} 	

}